@media only screen and (max-width: 990px) {
 .profile-side{
     display:none;
 }
}
@media only screen and (max-width: 420px) {
    .side-nav{
        display:none;
    }
}
.side-nav{
    margin-top: 10px;
    display: inline-block;
    left: -10px;
    
}
.material-icons:hover{
    color: #EC7063;
    font-family: 'Material Icons';
    /*font-size: 37px;*/
}

.nav-icons:hover{
    background-color:  #FDEDEC;
    border-radius:50% ;
}
ul{
    list-style-type: none;   
}
i{
    color: black;
}
.material-icons{
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 30px; 
  padding: 10px;
}
.profile-nav-image{
    position: relative;
    width: 30px;
    border-radius: 50%;
    box-sizing: border-box;
    padding: -10px;   
    
}

.profile-nav-image:hover{
    border: 2px solid #EC7063;
}
.nav-bar{
    position: relative;
    margin-left: -10px;
}
.profile-li{
    padding: 10px;
    
}
/*.profile-nav-image:hover{
    width: 37px;
}*/
.active{
    border: 2px solid #EC7063;
}
   
